body {
  margin: 0;
  padding: 0;
}

.avatar-img {
  height: 250px;
  padding-top: 2em;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  border-bottom: none;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.contact-links i {
  font-size: 2em;
  margin: 5px;
  color: blue;
}

.project-list {
  list-style: none;
  padding-left: 8px;
}

.project-list i {
  opacity: 0.7;
}

.project-list span {
  padding-left: 8px;
}

.about-line {
  width: 50%;
  border-top: 3px solid #673ab7;
}

@media (max-width: 720px) {
  .banner-text {
    width: 95%;
  }

  .banner-text h1 {
    font-size: 40px;
  }

  .social-links {
    width: 90%;
  }

  .social-links i {
    font-size: 4em;
  }
}
